<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>插值表达式</h1>
    <h3>{{ msg }}</h3>
    <h3>{{ count }}</h3>
    <h1>v-text</h1>
    <div v-text="msg"></div>
    <h1>v-model</h1>
    <input type="text" v-model="msg">
    <input type="text" v-model="count">
    <h1>v-html</h1>
    <div v-html="html"></div>
    <button v-on:click="myFn">测试v-on点击事件</button>
  </div>
  <script src="./js/dep.js"></script>
  <script src="./js/watcher.js"></script>
  <script src="./js/observer.js"></script>
  <script src="./js/compiler.js"></script>
  <script src="./js/vue.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        msg: 'hello vue',
        count: 100,
        person: {
          name: 'zs'
        },
        html: '<div style="color: blue; font-size: 14px; margin-bottom:15px;">我是v-html指令</div>'
      },
      methods: {
        myFn () {
          this.msg = '点击了修改msg值'
          alert(this.msg)
        }
      }
    })
    console.log(vm.msg)
  </script>
</body>
</html>